g.axis {
    stroke: #b3e5fc;
    stroke-width: 0.25;
    fill: none;
}

g.tick {
    stroke: #b3e5fc;
    stroke-width: 0.25;
    fill: none;
}

path.domain {
    stroke-width: 0.25;
    fill: none;
}
